@media only screen and (min-width:768px) {

.main {
    background-image: linear-gradient(65deg, rgba(0, 0, 0, 0.9000) 30.00%, rgba(0, 0, 0, 0.8965) 35.83%, rgba(0, 0, 0, 0.8861) 41.67%, rgba(0, 0, 0, 0.8688) 47.50%, rgba(0, 0, 0, 0.8444) 53.33%, rgba(0, 0, 0, 0.8132) 59.17%, rgba(0, 0, 0, 0.7750) 65.00%, rgba(0, 0, 0, 0.7368) 70.83%, rgba(0, 0, 0, 0.7056) 76.67%, rgba(0, 0, 0, 0.6813) 82.50%, rgba(0, 0, 0, 0.6639) 88.33%, rgba(0, 0, 0, 0.6535) 94.17%, rgba(0, 0, 0, 0.6500) 100.0%), url(asset/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    height: 100vh;

}


.nav {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 30px;
}

.logo {
    width: 140px;
    color: red;
}

.nav-button {
    display: flex;
    align-items: center;
    z-index: 10;

}

.nav-button1 {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    border: 0.5px solid white;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.nav-button1 img {

    margin-right: 10px;
}

.nav-button2 {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    border-radius: 5px;
    border: 0px;
    background-color: red;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.mainchild {
    margin-left: 150px;
    margin-top: 150px;
}

.mainchild p:nth-child(1) {
    font-size: 56px;
    position: relative;
    z-index: 10;
    color: white;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 900;
}

.mainchild p:nth-child(2) {
    color: white;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 10;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin-top: 30px;
}

.mainchild2 {
    margin-left: 150px;
    margin-top: 30px;
    position: relative;
    z-index: 10;
}

.mainchild2 p {
    color: white;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-size: 16px;
}

.mainchild2 div {
    margin-top: 10px;
}

.mainchild2 div input {
    width: 350px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.459);
    border: 1px solid gray;
    border-radius: 4px;
    padding: 15px;
    font-size: 18px;
    color: white;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}

.mainchild2 div input::placeholder {
    color: rgba(255, 255, 255, 0.63);
}

.mainchild2 div button {
    width: 200px;
    line-height: 1.5;
    background-color: red;
    border-radius: 4px;
    align-items: center;
    border: 1px solid rgb(255, 0, 0);
    padding: 15px;
    color: white;
    font-size: 20px;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    font-weight: 700;

}

.select {
    background-color: transparent;
    color: white;
    border: none;
}

.select option {
    color: white;
    background-color: black;
    font-size: 15px;

}

.main-footer {
    box-sizing: border-box;
    max-width: 100%;
    height: 40px;
    margin-top: 110px;
    background-color: red;
    border: 5px solid red;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: 0px;
    background: radial-gradient(50% 500% at 50% -420%,
            rgba(64, 97, 231, 0.4) 80%,
            rgba(0, 0, 0, 0.1) 100%), black;
}

.content {
    margin: 50px 140px;

}

.card {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-style {
    background: linear-gradient(149deg,
            #192247 0%,
            #210e17 99.08%);
    border: 0px;
    border-radius: 10px;
    padding: 20px 15px;
    height: 270px;
    width: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-style div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.card-style h3 {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.2;

}

.card-style div {
    display: flex;
    justify-content: right;
    align-items: baseline;
}


.card-style div img {
    width: 80px;
}


.questions {
    margin-top: 70px;
    margin-left: 150px;
    margin-bottom: 40px;
}

.getquestions {
    width: 67%;
    background-color: rgba(173, 173, 173, 0.288);
    padding: 25px 1.9%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.questions h2 {
    margin-bottom: 20px;
}


.questions-style {
    display: none;
    width: 67%;
    background-color: rgba(173, 173, 173, 0.288);
    padding: 25px 1.9%;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 1px;
}

.questions-plus {
    background-color: transparent;
    border: none;
}

.getstarted {
    margin-left: 150px;
}
.getstarted div {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

} 

.getstarted p {
    color: rgb(175, 174, 174);
    font-size: 18px;
    margin-bottom: 18px;
}

.getstarted div input {
    width: 62%;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.459);
    border: 1px solid gray;
    border-radius: 4px;
    height: 54px;
    padding: 0px 18px;
    font-size: 18px;
    color: white;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}



.getstarted div button{
    width: 18%;
    margin-left: 10px;
    line-height: 1.5;
    background-color: red;
    border: none;
    border-radius: 4px;
    height: 55px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.footer{
    margin-left: 180px;
    margin-top: 70px;
}

.footer p{
    margin-bottom: 40px;
}

.footerdiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.479);
}

.fmd{
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footerni {
    margin-top: 40px;
    margin-left: 170px;
    margin-bottom: 100px;
}
}