:root {
    --primary: red ;
    --fontcolor:rgba(255, 255, 255, 0.7)
}

* {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

}

body {
    background-color: black;
}

@media only screen and (max-width:768px) {

    .main {
        background-image: linear-gradient(65deg, rgba(0, 0, 0, 0.9000) 30.00%, rgba(0, 0, 0, 0.8965) 35.83%, rgba(0, 0, 0, 0.8861) 41.67%, rgba(0, 0, 0, 0.8688) 47.50%, rgba(0, 0, 0, 0.8444) 53.33%, rgba(0, 0, 0, 0.8132) 59.17%, rgba(0, 0, 0, 0.7750) 65.00%, rgba(0, 0, 0, 0.7368) 70.83%, rgba(0, 0, 0, 0.7056) 76.67%, rgba(0, 0, 0, 0.6813) 82.50%, rgba(0, 0, 0, 0.6639) 88.33%, rgba(0, 0, 0, 0.6535) 94.17%, rgba(0, 0, 0, 0.6500) 100.0%), url(asset/images/bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: max(1100px, 100vw);
        height: auto;
        top: 0;
        width: auto;

    }


    .nav {
        margin-left: 25px;
        margin-right: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 25px;
    }

    .logo {
        width: 90px;
        color: red;
    }

    .nav-button {
        display: flex;
        align-items: center;
        z-index: 10;

    }

    .nav-button1 {
        margin-left: ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.1875rem;
        padding: 2px;
        border: 0px;
        background-color: rgb(0, 0, 0, 0.5);
        border: 0.5px solid rgba(255, 255, 255, 0.705);
        color: white;
        font-size: 5px;
        font-weight: bold;
        height: 32px;
    }

    .nav-button1 img {

        margin-left: 5px;
        height: 15px;
    }

    .nav-button2 {
        width: 80px;
        margin-left: 3%;
        padding: 2px;
        height: 32px;
        border: 0;
        border-radius: 0.1875rem;
        background-color: red;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    .mainchild {
        margin-left: 25px;
        margin-top: 182px;
    }

    .mainchild p:nth-child(1) {
        font-size: 2rem;
        position: relative;
        line-height: 1.5;
        z-index: 10;
        color: white;
        font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-weight: 700;
    }

    .mainchild p:nth-child(2) {
        color: white;
        font-size: 1rem;
        font-weight: 400;
        position: relative;
        z-index: 10;
        font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        margin-top: 10px;
    }

    .mainchild2 {
        margin-left: 25px;
        margin-top: 10px;
        margin-right: 25px;
        position: relative;
        z-index: 10;
    }

    .mainchild2 p {
        line-height: 1.6;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.596);
        font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }

    .mainchild2 div {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
    }

    .mainchild2 div input {
        width: auto;
        background-color: rgba(0, 0, 0, 0.315);
        border: 1px solid gray;
        border-radius: 4px;
        padding: 17px;
        font-size: 15px;
        color: white;
        font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

    }

    .mainchild2 div input::placeholder {
        color: var(--fontcolor);
    }

    .mainchild2 div button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-top: 10px;
        line-height: 1.5;
        background-color: red;
        border-radius: 4px;
        align-items: center;
        border: 1px solid rgb(255, 0, 0);
        padding: 10px;
        color: white;
        font-size: 1.125rem;
        font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-weight: 700;

    }

    .select {
        background-color: transparent;
        color: white;
        border: none;
        font-size: 6px;
    }

    .select option {
        color: white;
        background-color: black;
        font-size: 10px;


    }

    .main-footer {

        box-sizing: border-box;
        max-width: 1000px;
        height: 20px;
        margin-top: 40px;
        background-color: red;
        border: 5px solid red;
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        border-bottom: 0px;
        background: radial-gradient(50% 500% at 50% -420%,
                rgba(64, 97, 231, 0.4) 80%,
                rgba(0, 0, 0, 0.1) 100%), black;
    }

    .content {
        margin: 0px 25px;
        margin-top: 50px;

    }

    .content div h2 {
        font-size: 1.125rem;
        font-weight: 700;
    }

    .card {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

    }

    .card-style {
        background: linear-gradient(149deg,
                #192247 0%,
                #210e17 99.08%);
        border: 0px;
        border-radius: 10px;
        padding: 15px 20px;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .card-style div:nth-child(1) {
        display: flex;
        flex-direction: column;
    }

    .card-style h3 {
        color: gray;
        font-size: 1.2em;
        font-weight: 500;
        margin-top: 10px;
        line-height: 1.2;

    }

    .card-style div {
        display: flex;
        justify-content: right;
        align-items: baseline;
    }


    .card-style div img {
        width: 80px;
    }


    .questions {
        margin: 25px;
    }

    .questions h2 {
        font-size: 1.125rem;
        font-weight: 700;

    }

    .getquestions {
        width: auto;
        background-color: rgba(173, 173, 173, 0.288);
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 11px;
        height: 71px;
        padding: 0px 30px;

    }

    .getquestions img {
        width: 25px;
    }

    .questions h2 {
        margin-bottom: 10px;
    }


    .questions-style {
        display: none;
        width: auto;
        background-color: rgba(173, 173, 173, 0.288);
        padding: 5px 1.9%;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-top: 1px;
        padding: 28px 28px;

    }

    .questions-plus {
        background-color: transparent;
        border: none;
        width: 10px;
    }

    .getstarted {
        margin: 40px 25px;
    }

    .getstarted div {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }


    .getstarted p {
        color: rgb(175, 174, 174);
        font-size: 1rem;
        margin-bottom: 18px;
        line-height: 1.5;
    }

    .getstarted div input {
        width: auto;
        line-height: 1.5;
        background-color: rgba(0, 0, 0, 0.384);
        border: 1px solid gray;
        border-radius: 4px;
        height: 45px;
        padding: 0px 18px;
        font-size: 17px;
        color: white;
        font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;

    }



    .getstarted div button {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: inherit;
        width: 50%;
        margin-top: 15px;
        line-height: 1.5;
        background-color: red;
        border: none;
        border-radius: 4px;
        height: 47px;
        font-size: 1.125rem;
        color: white;
        margin-left: 0;
        font-weight: 500;
        font-family: "Netflix San   s", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    }

    .footer {
        margin-left: 50px;
        margin-top: 0px;
    }

    .footer p {
        margin-bottom: 40px;
    }

    .footerdiv {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 14px;
        font-weight: 300;
        text-decoration-color: rgba(255, 255, 255, 0.7);
        color: rgba(255, 255, 255, 0.7);
    }

    .fmd {
        gap: 15px;
        width: 72%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .footerni {
        margin-top: 40px;
        margin-left: 50px;
        margin-bottom: 100px;
        font-size: 14px;
    }

    .footerni p {
        color: var(--fontcolor);
        font-weight: 400;

    }

    .footer-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.1875rem;
        padding: 1px 15px;
        border: 0px;
        background-color: rgb(0, 0, 0, 0.5);
        border: 0.5px solid rgba(255, 255, 255, 0.705);
        color: white;
        font-size: 10px;
        font-weight: bold;
        height: 32px;
    }

    .footer-button select {
        margin-left: 5px;
        background-color: transparent;
        border: 0px;
        font-size: 15px;


    }
}